.nav_button {
  margin-left: auto;
}

.nav_links {
  list-style: none;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_links li {
  margin: 1rem;
}

.nav_links a {
  padding: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  flex-direction: column;
  display: flex;
  color: #000000;
  font-weight: bold;
  text-decoration: none;
}

.nav_links a:hover,
.nav_links a:active,
.nav_links a.active {
  background: rgba(2, 68, 192, 0.192);
  color: rgb(105, 68, 255);
  border-radius: 8px;
}

.nav_links button {
  cursor: pointer;
  border: 1px solid #292929;
  background: transparent;
  padding: 0.5rem;
  font: inherit;
}

.nav_links button:focus {
  outline: none;
}

.nav_links button:hover,
.nav_links button:active {
  background: #292929;
  color: rgb(0, 0, 0);
}

@media (min-width: 870px) {
  .nav_links {
    flex-direction: row;
  }

  .nav_links li {
    margin: 0 0.5rem;
  }

  .nav_links a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
  }

  .nav_links button {
    background: transparent;
    padding: 6px 16px;
    font-size: 0.875rem;
    line-height: 1.75;
    border-radius: 4px;
    min-width: 64px;
    margin: 4px 5px 5px 15px;
  }

  .nav_links button:hover,
  .nav_links button:active {
    background-color: #1b7cdd;
    color: #fff;
    padding: 6px 16px;
    font-size: 0.875rem;
    line-height: 1.75;
    border-radius: 4px;
    min-width: 64px;
    text-transform: uppercase;
  }
}
