.nav_button {
  margin-left: auto;
}

.nav_links {
  list-style: none;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_links button {
  cursor: pointer;
  background: transparent;
  padding: 0.5rem;
  font: inherit;
  border-radius: 4px;
  min-width: 64px;
  line-height: 1.75;
}

.nav_links button:hover,
.nav_links button:active {
  background-color: #1b7cdd;
  color: #fff;
  padding: 0.5rem;
  font: inherit;
  line-height: 1.75;
  border-radius: 4px;
  min-width: 64px;
  text-transform: uppercase;
}

@media (min-width: 870px) {
  .nav_links {
    flex-direction: row;
  }

  .nav_links li {
    margin: 0 0.5rem;
  }

  .nav_links a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
  }

  .nav_links button {
    background: transparent;
    padding: 6px 16px;
    font-size: 0.875rem;
    line-height: 1.75;
    border-radius: 4px;
    min-width: 64px;
    margin: 4px 5px 5px 15px;
  }

  .nav_links button:hover,
  .nav_links button:active {
    background-color: #1b7cdd;
    color: #fff;
    padding: 6px 16px;
    font-size: 0.875rem;
    line-height: 1.75;
    border-radius: 4px;
    min-width: 64px;
    text-transform: uppercase;
  }
}
