.container {
  text-align: center;
  margin-top: 10px;
}

/* Form styling */

.form {
  max-width: 40rem;
  margin: 2rem auto;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  border-radius: 0.5rem;
  padding: 20px 15px 40px 15px;
  border-width: 1px;
  outline: 4px solid #e3e3e3;
}

.form label,
.form input,
.form textarea {
  display: block;
  width: 16.9rem;
}

.form input,
.form textarea {
  font: inherit;
  padding: 0.25rem;
}

.actions {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.actions button {
  font: inherit;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  background-color: rgb(207, 207, 207);
  color: rgb(0, 0, 0);
  border: none;
}

.actions a {
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  background-color: rgb(207, 207, 207);
  color: rgb(0, 0, 0);
}

.actions button:hover {
  background-color: rgb(191, 191, 191);
}

.actions a:hover {
  background-color: rgb(191, 191, 191);
}

.e-list {
  list-style-type: none;
  padding-left: 40px;
}

@media (max-width: 830px) {
  .container {
    text-align: center;
  }
}
