.main_navigation_btn {
  width: 3rem;
  height: 3rem;
  background: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 1rem;
  margin-top: 0.5rem;
  cursor: pointer;
  color: white;
  display: block;
  font-size: 2.5rem;
}

.links {
  display: none;
}

.drawer_navigation {
  height: 100%;
}

.logo a {
  font-size: 200%;
  padding-left: 15px;
  padding-top: 5px;
  text-decoration: none;
  color: inherit;
}

@media (min-width: 870px) {
  .main_navigation_btn {
    display: none;
  }

  .links {
    display: block;
  }

  .logo {
    font-size: 200%;
    padding-left: 15px;
    padding-left: 15px;
  }
}
