.main_navigation_btn {
  width: 3rem;
  height: 3rem;
  background: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 1rem;
  margin-top: 0.5rem;
  cursor: pointer;
  color: white;
  display: block;
  font-size: 2.5rem;
}

.links {
  display: none;
}

.drawer_navigation {
  height: 100%;
}

.logo {
  width: 190px;
  height: 43px;
  padding-left: 15px;
}

@media (min-width: 768px) {
  .main_navigation_btn {
    display: none;
  }

  .links {
    display: block;
  }

  .logo {
    width: 270px;
    height: 60px;
    padding-left: 15px;
  }
}
