:root {
  --orange: #feb237;
  --white: #ffffff;
  --bg: #ffbc37;
  --blackish: rgb(47, 47, 47);
}

html {
  font-family: sans-serif;
  /* background-image: url("../public/assets/images/what-the-hex.png"); */
  background-color: rgb(234, 234, 234);
}

body {
  margin: 0;
  overflow-x: hidden;
}

main {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 100px;
  width: 800px;
  padding: 50px;
  color: black;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 250, 239);
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

main .container {
  width: 320px;
}

@media (max-width: 830px) {
  main {
    max-width: 80vw;
  }
}

::-webkit-scrollbar {
  width: 1px;
  background-color: transparent;
}
