:root {
  --orange: #feb237;
  --white: #ffffff;
  --bg: #e6e4e4;
  --blackish: rgb(47, 47, 47);
}

html {
  font-family: sans-serif;
}

body {
  resize: auto;
  width: 100%;
  margin: 0;
  overflow-x: hidden;
}

#tsparticles {
  position: relative;
  z-index: -10;
}

main {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  width: 800px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

@media (max-width: 830px) {
  main {
    max-width: 80vw;
  }
}

@media screen and (max-width: 860px) {
  body {
    resize: none;
  }
}

@media screen and (max-height: 250px) {
  body {
    resize: none;
  }
}

::-webkit-scrollbar {
  width: 1px;
  background-color: transparent;
}
