html {
  font-family: sans-serif;
  background-image: url("../public/assets/images/what-the-hex.png");
}

body {
  margin: 0;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 1px;
  background-color: transparent;
}
